# dataset
data/
*.csv

# checkpoints
checkpoints/

# py
__pycache__/
*.pyc
*.pyo
*.pyd

# vs code
.vscode/

# jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.env

#generated videos
2026*/

#.wav & .m4a
sep28k_audio/*.wav
*.csv
.venv
pretrained_models
wav2vec2_checkpoints
stutter_model